/*
!/alacritty/
!/bash/
!/beets
/beets/*
!/beets/year-editor.sh
!/picom/
!/default-dirs/
!/dunst/
!/firefox/
!/i3/
!/mpd
/mpd/*
!/mpd/.config
/mpd/.config/*
!/mpd/.config/mpd
/mpd/.config/mpd/*
!/mpd/.config/mpd/mpd.conf
!/music_misc/
/music_misc/*
!/music_misc/bin/
!/ncmpcpp/
!/polybar/
!/powerline/
!/ranger
/ranger/*
!/ranger/.config
/ranger/.config/*
!/ranger/.config/ranger
/ranger/.config/ranger/*
!/ranger/.config/ranger/*.conf
!/rofi/
!/theming/
!/vim/
!/xresources/
