/*
!/bash/
!/beets
/beets/*
!/beets/year-editor.sh
!/compton/
!/default-dirs/
!/dunst/
!/i3/
!/mpd
/mpd/*
!/mpd/.config
/mpd/.config/*
!/mpd/.config/mpd
/mpd/.config/mpd/*
!/mpd/.config/mpd/mpd.conf
!/ncmpcpp/
!/polybar/
!/powerline/
!/ranger/
!/rofi/
!/theming/
!/vim/
!/xresources/
